@charset "UTF-8";

html {
    /*direction: rtl;*/
}

body {
    background-color: #fc4a1ad9;
}

.container > * {
    background-color: #ffffff40;
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: all 150ms ease;
}

.container > *:hover {
    background-color: #ffffff66;
}

.container {
    display: flex;
    align-items: center;
    border: 5px solid #fff;
    height: 350px;
    width: 500px;
}

.container div:nth-child(1) {
    align-self: stretch;
}

.container div:nth-child(2) {
    align-self: flex-start;
    padding: 40px 20px;
}

.container div:nth-child(3) {
    align-self: center;
    padding: 40px 20px;
}

.container div:nth-child(4) {
    align-self: flex-end;
    padding: 40px 20px;
}

.container div:nth-child(5) {
    align-self: stretch;
}