@charset "UTF-8";

html {
    /*direction: rtl;*/
    min-height: 100vh;
    min-width: 100vw;
}

body {
    background-color: #fc4a1ad9;
}

.container > * {
    background-color: #ffffff40;
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    padding: 20px;
    text-align: center;
    transition: all 150ms ease;
}

.container > *:hover {
    background-color: #ffffff66;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    width: 250px;
    padding: 0;
    text-align: left;
    margin: 20px;
}

.card-content {
    padding: 0 20px;
}